################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Windows/src/Container.Application/Container.Application.sfproj.user
/Windows/src/GuestExe.Application/GuestExe.Application.sfproj.user
